# Py-Mongo

An introduction.

In this tutorial we will create a database then insert, read, update and delete some data from it.

###  Installation

Before installing `Py-Mongo`, we first need to install the `MongoDB`.

We can do this in Ubuntu by running the following command:

```bash
sudo apt-get install mongodb
```
By default, we will be unable to use the `MongoDB` packages we just installed. To be able to use them, we will have to run the following commands:

```bash
sudo rm -rf /var/lib/mongodb/mongod.lock
```

Then we reset for our changes to take effect:
```bash
sudo mongod --repair
```

After which we restart the service:
```bash
sudo service mongodb start
```

We can check the status of the database:
```bash
sudo service mongodb status
```

We then proceed to install `pip`:
```bash
sudo apt-get install python-pip
```

And then install `Py-Mongo`:

```bash
pip install pymongo
```

### What we'll need ...

In [1]:
# Imports
import random
from pprint import pprint
from datetime import datetime
from pymongo import MongoClient

### Connecting to the Database

In [2]:
# Instantiating a client connection
client = MongoClient()

# Creating database object
db = client.Transactions

### Inserting

We will define a simple function that will allow us to insert some data into our database.

In [3]:
# Function for generating random ID numbers
def id_gen():
    '''Generates random ID number.'''
    start, end = 10**4, 10**5
    return random.randint(start, end)

# Function for inserting data
def insert():
    '''Inserts data into the database.'''
    
    try:
        # Getting the data
        iid = id_gen()
        ttime = datetime.utcnow()
        amount = int(input('Amount: '))
        location = str(input('Location: '))
        
        # Inserting the data
        db.Transactions.insert_one({
            "ID": iid,
            "Time": ttime,
            "Amount": amount,
            "Location": location
        })
        print('Data successfully inserted.\n')
        
    except Exception as e:
        print(str(e))

The function we created allows us to enter an amount and the location. These are then attached with the current timestamp and a unique transaction ID is generated using a random number generator. Though we are not able to see it yet, `MongoDB` also attached an ID to our records and monotonically increases it with the increase in records.

In [4]:
# Inserting data
insert()

Amount: 2378
Location: Ireland
Data successfully inserted.

***

### Reading

When we want to see what our database contains, we can read the data it contains.

In [5]:
# Function for reading all records in the database
def read():
    '''Reads data from the database.'''
    try:
        trans = db.Transactions.find()
        print('\nData from Transactions\n')
        for t in trans:
            pprint(t)
    except Exception as e:
        print(str(e))

In [6]:
# Reading records
read()

Data from Transactions

{'Amount': 1500,
 'ID': 50596,
 'Location': 'Zimbabwe',
 'Time': datetime.datetime(2018, 12, 23, 16, 31, 17, 523000),
 '_id': ObjectId('5c1fb3ea6d38047313215886')}
{'Amount': 1000,
 'ID': 81923,
 'Location': 'South Africa',
 'Time': datetime.datetime(2018, 12, 23, 16, 20, 52, 108000),
 '_id': ObjectId('5c1fb5f26d38047313215887')}
{'Amount': 2378,
 'ID': 77405,
 'Location': 'Ireland',
 'Time': datetime.datetime(2018, 12, 23, 16, 32, 48, 946000),
 '_id': ObjectId('5c1fb8bb6d38042455b0da0a')}

From reading the data, we can see that there are five fields, though in our `insert` function we specified four. The fifth field in automatically generated by `MongoDB` as a unique ID for each record in the event that we insert a record without a unique identifier.

***

### Updating

In [7]:
# Function for updating a record in the database
def update():
    '''Updates a record in the database.'''
    try:
        criteria = int(input('Enter the ID to update: '))
        amount = int(input('Enter the amount to update to: '))
        location = str(input('Enter the location to update to: '))
        ttime = datetime.utcnow()
        
        # Update the record
        db.Transactions.update_one(
            {'ID': criteria},
            {
                '$set': {
                    'Time': ttime,
                    'Amount': amount,
                    'Location': location
                }
            }
            )
        print('Record sucessfully updated.\n')
    except Exception as e:
        print(str(e))

In [8]:
# Updating
update()

Enter the ID to update: 77405
Enter the amount to update to: 1345
Enter the location to update to: Ireland
Record sucessfully updated.

In [9]:
# Reading
read()

Data from Transactions

{'Amount': 1500,
 'ID': 50596,
 'Location': 'Zimbabwe',
 'Time': datetime.datetime(2018, 12, 23, 16, 31, 17, 523000),
 '_id': ObjectId('5c1fb3ea6d38047313215886')}
{'Amount': 1000,
 'ID': 81923,
 'Location': 'South Africa',
 'Time': datetime.datetime(2018, 12, 23, 16, 20, 52, 108000),
 '_id': ObjectId('5c1fb5f26d38047313215887')}
{'Amount': 1345,
 'ID': 77405,
 'Location': 'Ireland',
 'Time': datetime.datetime(2018, 12, 23, 16, 33, 38, 31000),
 '_id': ObjectId('5c1fb8bb6d38042455b0da0a')}

The `update_one` method allows us to update a records based on an identifier. In our case, we used the ID we generated using random numbers, though we could have easily opted for the one generated by `MongoDB`.

***

### Deleting

In [10]:
# Function to delete a record from the database
def delete():
    '''Deletes a record from the database.'''
    try:
        criteria = int(input('Enter the ID for the record to be deleted: '))
        db.Transactions.delete_many({'ID': criteria})
        print('Record successfully deleted.\n')
    except Exception as e:
        print(str(e))

In [11]:
# Deleting
delete()

Enter the ID for the record to be deleted: 77405
Record successfully deleted.

In [12]:
# Reading
read()

Data from Transactions

{'Amount': 1500,
 'ID': 50596,
 'Location': 'Zimbabwe',
 'Time': datetime.datetime(2018, 12, 23, 16, 31, 17, 523000),
 '_id': ObjectId('5c1fb3ea6d38047313215886')}
{'Amount': 1000,
 'ID': 81923,
 'Location': 'South Africa',
 'Time': datetime.datetime(2018, 12, 23, 16, 20, 52, 108000),
 '_id': ObjectId('5c1fb5f26d38047313215887')}

Based on a unique identifier, we are also able to delete a record from the database.

***

### Summary

This tutorial was a gentle introduction to NoSQL databases and `MongoDB`. Though we were working with Python and `Py-Mongo`, there several other APIs available for interacting with `MongoDB` using a prefered programming language.

#### Sources

[1] https://api.mongodb.com/python/current/tutorial.html

[2] https://codehandbook.org/pymongo-tutorial-crud-operation-mongodb/